<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trams.parkstem">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.LoginActivity" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".activity.AssignActivity" />
        <activity android:name=".activity.MobileActivity" />
        <activity android:name=".activity.InputCarActivity" />
        <activity android:name=".activity.InputCardActivity" />
        <activity android:name=".activity.InputNewCardActivity" />


        <!-- 네이버 아이디로 로그인에서 사용하는 액티비티를 등록 -->
        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app"/>
    </application>

</manifest>